:root {
  --primary-color: #33a1de;
  --secondary-color: #d44942;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: var(--dark-color);
}

/* Home */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--dark-color);
  color: #fff;
  opacity: 0.8;
  transition: 0.5s;
}

/* #navbar:before {
  content: "";
  background: var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: -1;
  opacity: 0.5;
} */

#navbar.top {
  background: transparent;
}

#navbar h1 {
  padding: 1.3rem 0;
  color: var(--light-color);
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li a {
  text-decoration: none;
  margin: 0 2rem;
  font-size: 1.4rem;
  color: var(--light-color);
}

#navbar ul li a:hover {
  border-bottom: var(--primary-color) 2px solid;
}

.logo span,
.logo i {
  color: var(--primary-color);
}

#navbar ul li a.current {
  border-bottom: var(--primary-color) 2px solid;
}

#home .content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--light-color);
}

#home .content:before {
  content: "";
  background: url(https://source.unsplash.com/Y8lCoTRgHPE/1600x900) no-repeat
    center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.5;
}

#home .content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 0.8rem;
}

#home .content p {
  font-size: 1.2rem;
}

/* About */
#about .core-values {
  background: var(--light-color);
  display: flex;
  padding: 2rem 2rem;
  justify-content: center;
  text-align: center;
  /* height: 35vh; */
}

#about .core-values i {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 5px;
}

#about .core-values .caret-side {
  height: 100%;
  position: relative;
  margin: 1rem;
  margin-left: -3px;
}

#about .core-values .caret-side i {
  background: none;
  color: var(--primary-color);
  position: absolute;
  padding: 5rem 2rem 0 0;
}

#about .core-values .core-1,
#about .core-values .core-2,
#about .core-values .core-3 {
  flex: 1;
  margin: 0 1rem;
  height: 100%;
}

#about .core-values .core-1,
#about .core-values .core-2,
#about .core-values .core-3 {
  margin-right: 0;
  padding: 1rem;
  border: 4px solid var(--primary-color);
  border-radius: 20%;
}

#about .core-values .core-1 {
  padding-bottom: 2.5rem;
}

#about .flex-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: 51vh;
  background: var(--primary-color);
  color: var(--light-color);
}

#about .flex-container a {
  margin-top: 0.3rem;
}

#news .flex-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: 50vh;
  background: var(--primary-color);
  color: var(--light-color);
}

#about .flex-container .box-left,
#news .flex-container .box-left {
  margin: 1rem;
  padding: 1rem;
}

#about .flex-container .box-left h1,
#news .flex-container .box-left h1 {
  font-size: 2.4rem;
}

#about .flex-container .box-left p,
#news .flex-container .box-left p {
  padding: 0.8rem 0;
}

#about .flex-container .box-right img {
  max-height: 100%;
}

/* Contact */
#contact .flex-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
  background: url(https://source.unsplash.com/xJ2tjuUHD9M) no-repeat center
    center/cover;
}

#contact .flex-container form {
  width: 50%;
  margin: 5rem 2rem 2rem;
  padding: 2rem;
  background: var(--primary-color);
  border-radius: 4px;
  opacity: 0.75;
}

#contact .flex-container form label {
  display: block;
  margin-bottom: 0.4rem;
}

#contact .flex-container form input {
  width: 100%;
  padding: 4px;
  margin-bottom: 10px;
  height: 40px;
  border: #f5f5f5 1px solid;
  border-radius: 4px;
}

#contact .flex-container form textarea {
  width: 100%;
  height: 7rem;
  border-radius: 4px;
}

.callback-form input:focus {
  outline-color: none;
}

.contact-icons {
  display: flex;
  color: var(--light-color);
  justify-content: center;
  text-align: center;
}

.contact-icons div {
  padding: 1rem 1rem;
}

/* Footer */
#main-footer {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--light-color);
}

#main-footer a {
  margin: 1rem;
  display: inline-block;
  text-decoration: none;
  list-style: none;
  color: var(--primary-color);
}

/* Blog */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.container:before {
  content: "";
  background: url(https://source.unsplash.com/jLB_0YS5WBc/1600x900) no-repeat
    center center / cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  z-index: -1;
  opacity: 0.8;
}

.container h1 {
  color: var(--light-color);
  font-size: 3rem;
  font-weight: 200;
}

#blog-container {
  background: var(--light-color);
  padding: 1rem;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;
}

.blog-1,
.blog-2,
.blog-3 {
  background: #fff;
  padding: 1rem;
}

#blog-container img {
  max-width: 100%;
  max-height: 250px;
}

.blog-post {
  background: var(--light-color);
  padding: 2rem;
}

.blog-post h1 {
  font-size: 2.3rem;
  border-bottom: solid 1px var(--dark-color);
}

.blog-post img {
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
}

.blog-post p {
  margin-top: 1rem;
}

/* utility classes */
.btn {
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem 0 1rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: var(--light-color);
  border-radius: 5px;
}

.btn-primary {
  text-decoration: none;
  background: var(--primary-color);
  color: var(--light-color);
  margin-top: 1rem;
  padding: 0.6rem 1.7rem;
  border-radius: 5px;
  font-size: 1.1rem;
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

.btn-outline-dark {
  background: transparent;
  border: 1px solid #333;
  color: #333;
}

.btn-outline:hover {
  border: 1px solid #f3f3f3;
  color: #fff;
  opacity: 0.9;
}

.btn-outline-dark:hover {
  color: var(--primary-color);
}

img {
  width: 400px;
  height: 100%;
  object-fit: cover;
}

/* Media Quieries */
/* Tablet */
@media (max-width: 800px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about .img {
    max-width: 100%;
  }

  #about .box-right {
    display: none;
  }

  #about .flex-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 45vh;
    background: var(--primary-color);
    color: var(--light-color);
  }

  #contact .flex-container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center;
    align-items: center;
    background: url(https://source.unsplash.com/xJ2tjuUHD9M) no-repeat center
      center/cover;
  }

  .container {
    height: 15vh;
  }

  .container h1 {
    display: none;
  }
}

@media (max-width: 500px) {
  #home {
    max-width: 100vh;
  }

  #navbar h1 {
    padding: 1.3rem 0.5rem;
    color: var(--light-color);
    font-size: 1.8rem;
  }

  #navbar ul li a {
    margin: 0 0.8rem;
    font-size: 1rem;
  }

  #home .content p {
    font-size: 1.2rem;
  }

  #home .content h1 {
    font-size: 2rem;
    font-weight: bold;
    /* padding-bottom: 0.8rem; */
  }

  #news .flex-container {
    display: flex;
  }

  #news .flex-container img {
    display: none;
  }

  #about .core-values {
    background: var(--light-color);
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    justify-content: center;
    text-align: center;
    height: auto;
    margin-bottom: 0;
  }

  #about .core-values .core-1,
  #about .core-values .core-2,
  #about .core-values .core-3 {
    padding: 0;
  }

  .core-1 {
    margin-bottom: 0;
  }

  /* #about .core-values i {
    margin-top: 15px;
  } */

  #about .flex-container {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .caret-side i {
    display: none;
  }

  #about .core-values .caret-side {
    height: 100%;
    position: relative;
    margin: 1rem;
    margin-left: -3px;
  }

  #about .core-values .caret-side i {
    background: none;
    color: var(--primary-color);
    position: absolute;
    padding: 5rem 2rem 0 0;
  }

  #contact .flex-container form {
    width: 40vh;
    margin: 1rem;
    padding: 1rem;
  }

  .contact-icons {
    flex-direction: column;
  }

  .contact-icons div {
    padding: 1rem;
  }

  .blog-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 100%;
  }

  .blog-post img {
    max-width: 100%;
    padding-top: 10px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
  }
}

@media (max-width: 850px) {
  #home .content h1 {
    /* font-size: 2.5rem; */
    font-weight: bold;
    /* padding: 0 9rem 0.8rem; */
    /* padding-bottom: 0.8rem; */
  }

  /* #home .content p {
    padding: 0 4rem 0.8rem;
  } */

  .blog-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  #about .core-values {
    background: var(--light-color);
    display: flex;
    flex-direction: column;
    /* padding: 2rem 2rem; */
    justify-content: center;
    text-align: center;
    height: auto;
    margin-bottom: 0;
  }

  .caret-side i {
    display: none;
  }

  #about .core-values .core-1,
  #about .core-values .core-2,
  #about .core-values .core-3 {
    border: none;
  }
}
